/* Estilos base */
body {
    margin: 0;
    font-family: 'Lobster', cursive; 
    background-color: #f5f5f5;
}

.container {
    display: block;
    text-align: center; 
    padding: 90px;
}

.dice-container {
    display: flex;
    justify-content: center;
}

.roll-dice {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif; 
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dice {
    margin-right: 50px;
}

.dice:last-child {
    margin-right: 0;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 50px; /* Reduzir o preenchimento para dispositivos móveis */
    }

    .dice-container {
        flex-direction: column;
        align-items: center; /* Centralizar verticalmente */
    }

    .dice {
        height: 130px;
        width: 130px;
        margin-top: 30px;
        margin-right: 0; /* Remover margem direita */
    }
}
